main {
    margin: 100px auto;
    width: 400px;
}

body{
    background-color: #242424;
}

h1 {
    color: #ff5555;
    margin-left: initial;

}

h2 {
    color: #ffb9b9;

    
}
h3 {
    color: #cacaca 
    
}
button{
    background-color: #000;
}