main {
    margin: 100px auto;
    width: 700px;
    color: honeydew;
}

body{
    background-color: #242424;
    font-size: 20px;
}

h1 {
    color: #ff5555;
    margin-left: initial;

}

h2 {
    color: #ffb9b9;

    
}
h3 {
    color: #cacaca 
    
}
button{
    background-color: #aeffe7;
    size: 1cm
}
h4{
    color honeydew; 
}

h5{
    color honeydew;
}

img{
    margin: auto;
    width: 300px;
    height: 200px;

}