main {
    margin: 100px;
    width: 400px;
    background-color: rgba(44, 39, 39, 0.959);
}

h1 {
    color: red;
    margin-left: initial;

}

h2 {
    color:black;

    
}
h3 {
    color: aquamarine; 
    
}